*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background: #0f172a;
    color: #fff;
}
:root{
    --primary-color:#fff;
    --secondary-color: #ff044f;
    --third-color: #16f2b3;
}
html{
    scroll-behavior: smooth;
}

/* #header{
    width: 100%;
    height: 100vh;
    background-image: url('images/back3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */
 .navbar{
    padding: 15px 0;
 }
 .navbar a{
    text-decoration: none;
    color: #fff;
 }
.header{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 90vh;
}

.header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), /* dark overlay */
    url('images/back3.jpg') center/cover no-repeat;
  filter: blur(1px);
  z-index: -1;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;

}
.logo{
    font-size: 40px;
}
.secondary{
    color: var(--secondary-color);
}
.third{
    color: var(--third-color);
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    position: relative;
    font-size: 18px;
}
nav ul li a::after{
    content: '';
    width: 0px;
    height: 3px;
    background: #ff044f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

.hero-section{
    display: flex;

}
.header-text{
    width: 60%;
    margin-top: 5%;
    font-size: 30px;
}
.header-text h1{
    font-size: 55px;
    margin-top: 20px;
}

.header-image{
    display: flex;
    align-items: center;
    padding-left: 50px;
}
.hero-image{
    width: 350px;
}

/* --------------about section ------------ */

#about{
    padding: 10px 0 20px;
    color: #ababab;
    background-color: #0f172a;
}
#my-image{
    border: 3px solid var(--third-color);
    margin-bottom: 40px;
}

.exp-img {
  transition: transform 0.3s ease;
}

.exp-img:hover {
  transform: scale(1.1);
}
.exp-img {
  animation: floatUpDown 4s ease-in-out infinite;
}

@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}


.title-box{
    display: flex;
    justify-content: center !important;
    margin-bottom: 40px;
}
.section-title{
    font-size: 30px;
    font-weight: 500;
    padding: 5px 15px;
    margin-top: 10px;
    /* border: 1px solid var(--third-color); */
    border-radius: 6px;
    background: black;
    color: white;
}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 40%;
    padding-right: 30px;
    display: flex;
    text-align: left;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    padding-top: 10px;
}
.about-col-2{
    flex-basis: 55%;
}
.about-col-2 .social-icon{
    text-align: center;
}
#about-description{
    font-size: 20px;
    color: #fff;
    margin-top: 20px;

}

/* Skill section  */
.skills-section {
  overflow: hidden;
  background: #0a0d35; /* dark background */
  padding: 3rem 0;
  color: white;
  font-family: sans-serif;
}

.skills-marquee {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.skills-track {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 20s linear infinite;
  align-items: center;
}

.skills-track .skill {
    width: 150px;
    height: 150px;
  display: inline-block;
  margin: 0 2rem;
  font-weight: 500;
  letter-spacing: 1px;
  border: 1px solid var(--third-color);
  border-radius: 10px;
  padding: 30px 20px;
  text-align: center;
  transition: transform 0.5s;
}
.skill-name{
    margin-top: 10px;
    font-size: 22px;
}
.skill:hover{
    transform: scale(1.3);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.skill:hover ~ .skills-track,
.skills-track:hover {
  animation-play-state: paused;
}

/* This is competitive programming section  */
.platforms{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.platform{
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid var(--third-color);
    padding: 25px 35px;
    border-radius: 10px;
    background: #0a0d35;
    width: 320px;
    height: 150px;
}
.platform-name{
    font-size: 22px;
    color: #fff;
    font-weight: 600;
}
.user-name{
    font-size: 19px;
    color: #fff;
    margin: 7px 0;
    font-weight: 500;
}
.cp-btn{
    background: none;
    border:  none;
    color: #fff;
}
.cp-btn a{
    text-decoration: none;
    color: white;
    font-size: 16px;

}
.cp-btn a i{
    margin-left: 5px;
}


/* Education & skills all css */
.edu-skill{
    display: flex;
    justify-content: space-between;
    padding: 40px 0 20px;
}
.education{
    flex-basis: 60%;
}
.edu-image{
    flex-basis: 35%;
    display: flex;
    align-items: center;

}
.degree{
    margin: 15px 0;
    border: 2px solid var(--third-color);
    padding: 15px 20px;
    border-radius: 15px;
}
.degree-name{
    margin: 15px 0;
    font-size: 24px;
}
.time{
    text-align: center;
}
.degree .degree-box{
    display: flex;
    align-items: center;
}
#degree-icon{
    margin-right: 30px;
}


/* .border-only {
  border: 4px solid red;
  animation: borderColorPulse 1s infinite alternate;
}

@keyframes borderColorPulse {
  from { border-color: red; }
  to   { border-color: blue; }
} */






.tab-titles{
    display: flex;
    margin: 20px;
}
.tab-link{
    margin-right: 40%;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}
.tab-link::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--secondary-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-link.active-link::after{
    width: 50%;
    position: relative;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    font-size: 14px;
    color: var(--secondary-color);
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* ---------service section ---------- */

#services{
    padding: 40px 0 20px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #0a0d35;
    font-size: 19px;
    padding: 40px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
    text-align: center;
}
.services-list div img{
    /* font-size: 50px; */
    margin-bottom: 20px;
}
.services-list div h2{
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 700;
}
.services-list div a{
    text-decoration: none;
    display: inline-block;
    background: black;
    padding: 8px 10px;
    border-radius: 6px;
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
    border: 1px solid var(--third-color);
}
.services-list div:hover{
    background: var(--secondary-color);
    transform: translateY(-10px);
}


/* ------------ My Projects section ----------- */

#projects{
    padding: 50px 0;
}
.projects-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.project{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.project img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff044f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 40px;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    text-decoration: none;
    font-size: 18px;
    color: var(--secondary-color);
    background: #fff;
    line-height: 60px;
    width: 60px;
    height: 60px;
    margin-top: 15px;
    border-radius: 50%;
}
.project:hover img{
    transform: scale(1.1);
}
.project:hover .layer{
    height: 100%;
}
.btn{
    text-decoration: none;
    border-radius: 6px;
    border: 1px solid var(--secondary-color);
    margin: 50px auto;
    display: block;
    padding: 14px 50px;
    width: fit-content;
    font-size: 18px;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    /* background: var(--secondary-color); */
    background: linear-gradient(rgba(0.6,0,0,0),var(--secondary-color));
}



/* achivement and certification  */
.display-left{
    position: absolute;
    /* top: -250px; */
    top: 50%;
    left: 3%;
    width: 35px;
    height: 30px;
    background: #0a0d35;
    color: #fff;
    border: none;
}
.display-right{
    position: absolute;
    top: 50%;
    left: 95%;
    width: 35px;
    height: 30px;
    background: #0a0d35;
    color: #fff;
    border: none;
}
.mySlider{
    display: none;
}
.certificates img{
    height: 100%;
}
.certificates{
    position: relative;
    /* height: 520px; */
    padding-left: 2%;
}


/* ------------ Contact section ------------ */

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    margin-right: 15px;
    font-size: 25px;
    color: var(--secondary-color);
}
.social-icon{
    margin-top: 30px;
}
.social-icon a{
    text-decoration: none;
    margin-right: 15px;
    color: #ababab;
    font-size: 30px;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icon a:hover{
    transform: translateY(-5px);
    color: var(--secondary-color);
}
.btn.btn2{
    display: inline-block;
    background: linear-gradient(rgba(0,0,0,0.6),var(--secondary-color));
}
.contact-right form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    border-radius: 6px;
    outline: none;
    margin: 15px 0;
    padding: 15px;
    color: #fff;
    background: #262626;
}
form .btn2{
    padding: 14px 60px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px;
}

/* Scrool on top button  */
#scrollToTopBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background: linear-gradient(45deg, #16f2b3, #ff044f);
  color: white;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease;
  z-index: 999;
  display: none; /* hidden by default */
}

.copyright{
    width: 100%;
    font-weight: 300;
    text-align: center;
    background: #262626;
    padding: 25px 0;
    margin-top: 20px;
    font-size: 16px;
}
.copyright i{
    color: var(--secondary-color);
}

/* ------------ CSS for Small screen ----------- */

nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 600px){
    .section-title{
        font-size: 40px;
    }
    .container{
        padding: 5px 5%;
    }
    .hero-cv-btn{
        display: flex;
        text-align: center !important;
    }
    .header-image{
        display: flex;
        align-items: center;
        padding-left: 5px;
    }
    .hero-image{
        width: 350px;
    }
    .hero-section{
        display: flex;
        flex-direction: column;
    }
    .header-text{
        width: 100%;
        margin-top: 5%;
        font-size: 20px;
    }
    .header-text h1{
        font-size: 40px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: var(--secondary-color);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }


    .about-col-1,.about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }


    /* cp  */
    .platforms{
        justify-content: center;
    }
    .edu-skill{
        flex-direction: column;
    }

    .tab-link{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
        text-align: center;
    }
    
    .copyright{
        font-size: 14px;
    }
}


#msg{
    margin-top: -45px;
    color: #61b752;
    display: block;
}